@media (min-width: 685px) {
  #headline-container {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
  }

  #category {
    font-size: 32px;
  }

  #nameKr {
    font-size: 56px;
    margin-top: 40px;
  }

  #tagLine {
    font-size: 32px;
  }
}