@media (max-width: 684px) {
    #headline-container {
        margin-top: 11.6959vw;
        margin-left: 6.7251vw;
        margin-right: 6.7251vw;
    }

    #category {
        font-size: 4.6784vw;
    }

    #nameKr {
        font-size: 8.1871vw;
        margin-top: 5.8480vw;
    }

    #tagLine {
        font-size: 4.6784vw;
        margin-top: 4px;
    }

    #images-swiper-container .swiper-slide {
        height: 218px !important;
    }

    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
        height: 36px !important;
        width: 36px !important;
        min-width: 36px !important;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        position: absolute;
        top: 6px !important;
        left: 6px !important;
    }

    .mapboxgl-ctrl-geocoder--input {
        height: 36px !important;
    }
}